{% extends 'base.html'%}
{%load static%}

{% block title%}
articles
{%endblock%}

{%block link%}
<link rel="stylesheet" href="{%static 'styles.css'%}">
{%endblock%}

{%block body%}

<p>Article List</p>
<div class="articles">
    {%for counter in articles %}
    <div class="article">
        <a href="{%url 'article:detail' slug=counter.slug %}">{{counter.title}}</a>
        <h3>{{counter.snipet}}</h3>
        <h5>{{counter.time}}</h5>
        <p class="author">written by {{counter.author}}</p>
    </div>
    {%endfor%}
</div>

{%endblock%}